h1 Login to the Test App
.form-inline
    h4 Please login below:
    .form-group
        label(for='username') User Name:
        input.form-control(type='text',name='username')
    .form-group
        label(for='password') Password:
        input.form-control(type='password',name='password')
    .form-group
        button#btnLogin(type='button') Login
#divMessage.hidden
button#btnNewUser New Users
